.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: grey;
}
